html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
            /*           header          */
header {
    background-color: rgb(135, 80, 156);
}
.logo {
    height: 36px;
    padding-top: 58px;
}
.menu {
    margin-top: 71px;
    margin-left: 500px;
    padding: 10px;
    border-radius: 10px;
    font-family: Titillium Web;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.menu2 {
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: top 1s ease-out 1s;
    font-family: Titillium Web;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.menu:hover {
    background-color: #643a79;
    height: 32;
    width: 77;
    border-radius: 4px;
}
.menu2:hover {
    background-color: #643a79;
    height: 32;
    width: 77;
    border-radius: 4px;
}
header h1 {
    color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 146px;
}
.button {
    text-align: center;
    margin-top: 83px;
    padding-bottom: 170px;
} 
.button a {
    color: white;
    font-size: 18px;
    background-color: #eb7d4b;
    border: 0;
    padding: 29px 82px;
    font-family: Titillium Web;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
} 
            /*           block-2          */
.block-2 {
    background-color: rgb(23, 194, 164);
    margin-top: 0;
}
.block-2 h1 {
    color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 119px;
    margin-top: 0px;
    margin-bottom: 22px;
    letter-spacing: 0.1em;
}
hr {
    height: 4px;
    width: 87px;
    border: none;
    background-color: black;
    opacity: 0.15;
    margin: 0px auto 24px auto;
}
.block-2 h2 {
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    line-height: 20pt;
    margin: 0;
    font-weight: normal;
    width: 574px;
    margin: 0 auto;
}
.all-icons {
    margin-top: 79px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-family: Titillium Web;
}
.icon {
    margin-left: 28px;
    margin-right: 28px;
    text-align: center;
}
.all-icons img {
    max-height: 124px;
}
.block-2 h3 {
    margin: 57px 0px 27px;
    color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 24px;
}
.all-icons p {
    font-weight: 300;
    width: 203px;
    font-family: Titillium Web;
    font-size: 16px;
    margin: 0;
}
            /*           block-3          */
.block-3 {
    background-color: #e7f1f8;
}
.block-3 h1 {
    padding-top: 119px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: #3c4761;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}
.team {
    color: #3c4761;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
}
.all-members {
    margin-top: 79px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 127px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.base {
    height: 200px;
    width: 200px;
}
.name-member {
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: bold;
    margin-top: 42px;
    margin-bottom: 16px;
}
.who-member {
    font-family: Titillium Web;
    font-size: 16px;
    color: #30bae7;
    font-weight: normal;
    margin: 0;
}
.text-member {
    font-family: Titillium Web;
    font-size: 16px;
    color: #5d677b;
    width: 200px;
    margin-top: 26px;
}
.networks {
    margin-top: 35px;
    margin-right: 11px;
    height: 32px;
    width: 32px;
}
            /*           block-4          */
.block-4 {
    background-color: white;
}
.block-4 h1 {
    padding-top: 117px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: #3c4761;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}
.skill-header {
    color: #3c4761;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    width: 574px;
    margin: 0 auto;
}
.all-skills {
    margin-top: 74px;
    margin-left: 66px;
    font-family: Titillium Web;
    display: flex;
    justify-content: space-between;
}
.skill {
    text-align: center;
}
.block-4 {
    font-family: Titillium Web;
    font-size: 55px;
}
.block-4 h3 {
    margin-top: 26px;
    margin-bottom: 122px;
    font-family: Titillium Web;
    font-size: 24px;
}
            /*           block-5          */
.block-5 {
    background-color: #ffdd99;
}
.block-5 h1 {
    padding-top: 119px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: #393939;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}
.portfolio {
    color: #393939;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    width: 574px;
    margin: 15px auto 31px;
}
.portfolio-button {
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: center;
}
.portfolio-1 {
    line-height: 38px;
    width: 84px;
    height: 38px;
    border-radius: 4px;
    font-family: Titillium Web;
    transition: top 1s ease-out 1s;
    font-size: 18px;
    text-decoration: none;
    color: #393939;
    background-color: #ebc985;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.portfolio-2 {
    margin-left: 15px;
    line-height: 38px;
    width: 84px;
    height: 38px;
    border-radius: 4px;
    transition: top 1s ease-out 1s;
    font-family: Titillium Web;
    font-size: 18px;
    text-decoration: none;
    color: #393939;
    background-color: #ebc985;
    display: flex;
    justify-content: center;
}
.portfolio-1:hover {
    background-color: white;
    border-radius: 4px;
}
.portfolio-2:hover {
    background-color: white;
    border-radius: 4px;
}
.all-computers-1 {
    margin-top: 62px;
    margin-left: 20px;
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
}
.all-computers-2 {
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
}
.block-5 h3 {
    margin-top: 32px;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}
.button-2 {
    text-align: center;
    margin-top: 84px;
    padding-bottom: 109px;

}
.button-2 a {
    color: white;
    font-size: 18px;
    background-color: #17c2a4;
    border: 0;
    padding: 29px 56px;
    font-family: Titillium Web;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
} 

            /*           block-6          */
.block-6 {
    background-color: #d74680;
}
.block-6 h1 {
    padding-top: 119px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}
.love {
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
.all-reviews {
    margin-top: 72px;
    font-family: Titillium Web;
    display: flex;
    justify-content: space-between;
}
.review {
    display: flex;
}
.text-review {
    color: white;
    margin-left: 48px;
    width: 356px;
    font-family: Titillium Web;
    font-size: 21px;
    font-style: italic;
}
.name-review {
    color: white;
    margin-left: 48px;
    text-align: left;
    font-family: Titillium Web;
    font-size: 24px;
    margin-bottom: 0px;
}
.source-review {
    color: #ffdd99;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: left;
    margin-left: 48px;
    margin-top: 0;
    margin-bottom: 0;
}
.review img {
    height: 96px;
    width: 96px;
}
.all-reviews2 {
    margin-top: 160px;
    padding-bottom: 129px;
}
            /*           block-7          */
.block-7 {
    background-color: #3c5499;
}
.block-7 h1 {
    padding-top: 119px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: white;
    font-family: Titillium Web;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}
.address {
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}
form {
    margin-left: 120px;
    margin-right: 120px;
}
.form-input {
    height: 56px;
    width: 414px;
    background-color: #273a71;
    border: none;
    font-family: Titillium Web;
    font-size: 18px;
    padding-left: 20px;
    margin-left: 14px;
    color: white;
    border-radius: 4px;
}
.text-area {
    margin-top: 27px;
    width: 860px;
    height: 200px;
    padding-top: 15px;
}
.submit {
    margin-top: 59px;
    text-align: center;
    background-color: #30bae7;
    color: white;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 600;
    margin-top: 59px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 4px;
}
.submit-div {
    text-align: center;
    margin-top: 59px;
    padding-bottom: 139px;
}
.button-form a{
    background-color: #30bae7;
    padding: 30px 80px;
}
            /*           footer          */
footer{
    background-color: #344b8e;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 79px;
    margin-right: 79px;
    color: white;
    font-family: Titillium Web;
    font-weight: 600;
    font-size: 24px;
}
.footer a {
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
}
.footer a:hover {
    color: #30bae7;
}

/*------------------------Adaptive-------------------------------*/


/* 993px---1200px */
@media screen and (max-width: 1200px) {
	.container {
        width: 960px;
    }
    header h1 {
        width: 759px;
        margin: 146px auto 27px;
    }
    .menu, .menu2 {
        display: none;
    }
    .all-icons {
        flex-wrap: wrap;
        justify-content: center;
        width: 599px;
        margin: 100px auto 0px;
    }
    .icon:nth-child(3), .icon:nth-child(4) {
        margin-top: 50px;
    }
    .all-members {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 599px;
        margin: 100px auto 0px;
    }
    .member:nth-child(3), .member:nth-child(4) {
        margin-top: 50px;
    }
    .all-skills {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 499px;
        margin-right: 66px;
        margin: 100px auto 0px;
    }
    .all-computers-1 {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 499px;
        margin: 100px auto 0px;
    }
    .all-computers-2 {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 499px;
        margin: 100px auto 0px;
        margin-top: 0px;
    }
    .block-5 h3 {
        margin-bottom: 60px;
    }   
    .button-2{
        margin-top: 54px;
        padding-bottom: 149px;
    }
    .portfolio-2 {
        box-sizing: border-box;
        justify-content: center;
    }
    .all-reviews {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 499px;
        margin: 0 auto 0px;
    }
    .review {
        margin-top: 40px;
    }
    .address {
        width: 619px;
    }
    .text-area {
        width: 414px;
    }
    .address {
        margin: 15px auto;
    }
    .form-input:nth-child(1) {
        margin-top: 50px;
    }
    .form-input {
        margin-top: 27px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    form {
        width: 414px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        margin-left: 0;
        margin-right: 0;
    }


}
/* 769px---992px */
@media screen and (max-width: 992px) {
	.container {
        width: 720px;
    }
    header h1 {
        width: 460px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer a {
        margin-top: 0px;
        margin-bottom: 10;
    }
    .footer a:nth-child(1) {
        margin-top: 30px;
    }
    .footer a:nth-child(7) {
        margin-bottom: 30px;
    }
    .submit {
        margin-left: 20px;
    }
}
/* 577px---768px */
@media screen and (max-width: 768px) {
	.container {
        width: 540px;
    }
    .block-2 h2, .skill-header, .portfolio,  .address, .all-icons, .all-members {
        width: 540px;
    }
}

/* 320px---576px */
@media screen and (max-width: 576px) {
	.container {
        width: 80%;
    }
    .block-2 h2, .skill-header, .portfolio,  .address, .all-icons, .all-members, header h1, .all-skills, .all-computers-1, .all-computers-2, .all-reviews {
        width: 80%;
    }
    .button a {
        padding: 29px 64px;
    }
    .icon:nth-child(2) {
        margin-top: 50px;
    }
    .member:nth-child(2) {
        margin-top: 50px;
    }
    .computers-1 img, .computers-2 img {
        width: 100%;
    }
    .button-2 a {
        padding: 27px 40px;
    }
    .review {
        flex-wrap: wrap;
    }
    .text-review, .name-review, .source-review {
        margin-left: 0;
    }
    .text-review{
        width: 100%;
    }
    form{
        width: 240px;
    }
    .form-input {
        width: 240px;
        margin-left: 0;
    }
    .submit{
        padding: 30px 52px;
        width: 320px;
        margin-left: 14px;
    }
    .submit-div {
        text-align: left;
    }
    .button-form{
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
}