body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    color: #1B1B1B;
}
.a:hover {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #1B1B1B;
    padding-top: 120px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1B1B1B;
    padding-top: 80px;
    margin-bottom: 40px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1B1B1B;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1B1B1B;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #1B1B1B;
    margin: 0;
}
input, textarea {
    outline:none;
}
.commercial_home_left img, .commercial_home_right img{
    max-width: 80px;
}
.commercial_home_top img, .commercial_home_bottom img{
    max-height: 174px;
    margin-left: auto;
    margin-right: auto;
}
.commercial_home_top, .commercial_home_bottom {
    display: flex;
    justify-content: space-between;
}

.commercial_home_left{
    position: absolute;
    top:245px;
    left: 0;
}
.commercial_home_right{
    position: absolute;
    top:245px;
    right: 0;
}
.commercial_buttons{
    
}
.navbar-expand-lg{
    justify-content: space-between;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link{
    font-weight: 500;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover{
    font-weight: 500;
}
/*
.sub-item-title{
    content: "" !important;
    visibility: hidden;
}
.total span:before{
    content: "Всего" ;
}
*/
.logo{
    max-width: 50px;
}
.navbar-nav a{
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
    color: #1b1b1b;
    opacity: 0.8;
}

.navbar-nav a:hover{
    color: #1b1b1b;
    opacity: 1;
}
.navbar{
    padding: 0;
}
.nav-link{
    margin-left: 20px;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #1B1B1B;
}

.first_block{
    background: linear-gradient(180deg, #C5F4FF 0%, #FFFFFF 100%);
}
h1{
    max-width: 452px;
}
.first_block_caption{
    max-width: 452px;
    margin-top: 25px;
}
.btn_orange{
    display: flex;
    align-items: center;
    width: 253px;
    height: 40px;
    margin-top: 25px;
    background: #FFA028;
    border-radius: 25px;
    text-align: center;
    transition-duration: 0.3s;
}
.btn_orange p{
    color: #fff;;
    font-weight: bold;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    width: 100%;
}
.btn_orange:hover{
    background: #ff8b28;
}
.first_block_bg img{
    padding-top: 120px;
    padding-bottom: 109px; 
}

.card_items img{
    max-width: 200px;
    text-align: center;
}
.card_items{
    text-align: center;
}
.digital_cards{
    margin-bottom: 80px;
}



.second_block{
    background: url('..//img/second_block_bg.png') no-repeat;
    background-position: top center;
}
.second_block_calculator{
    background: rgba(251, 251, 251, 0.8);
    border-radius: 10px;
}
.second_block_calculator h3{
    padding-top: 40px;
    margin-left: 120px;
    margin-bottom: 30px;
}
.service{
    display: flex;
    margin-bottom: 40px;
}
.service img{
    width: 42px;
    height: 21px;
    margin-left: 120px;
    margin-right: 25px;
}
.btn_orange_2{
    margin-left: 185px;
}
.price{
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
    font-size: 25px;
    padding-bottom: 40px;
}
.price span{
    color: #FFA028;
    font-weight: 700;
    
}

.form_feedback{
    text-align: center;
}
.form_feedback input, textarea{
    width: 540px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    border: none;
    padding: 13px;
    margin-bottom: 20px;
}
textarea{
    height: auto;
}
.btn_orange_3{
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    margin-top: 0;
}
.btn_orange_3 p{
    text-align: center;
    padding: 0;
    text-align: center;
    width: 100%;
}
form{
    margin-bottom: 80px;
}

footer{
    background: #EDFAFD;
}
.footer_top{
    padding-top: 30px;
    align-items: center;
}
.footer_menu a, .footer_bottom a{
    font-weight: 500;
}
.social img{
    max-width: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.social{
    max-width: 300px;
}
.footer_bottom a{
    margin-right: 80px;
}
.footer_bottom{
    margin-top: 40px;
    padding-bottom: 30px;
}
.footer_bottom p{
    font-size: 13px;
}
.footer_top .logo{
    max-width: 80px;
}



/*-- About Us--------------------------------------------------*/
.about_us_first_block{
    background: url('..//img/about_us_bg.png') no-repeat, #ECFCFF;
    background-position: bottom left;
}
.about_us_caption{
    max-width: 540px;
}
.about_us_logo{
    max-width: 150px;
    max-height: 182px;
    margin-left: auto;
    margin-right: auto;
}
.owner_caption{
    font-weight: 300;
    font-size: 13px;
    color: #8C8C8C;
}
.owner_paragraph{
    font-weight: 300;
    font-size: 15px;
    color: #8C8C8C;
    font-style: italic;
}
.owner_text{
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    margin-top: 80px;
}
.owner_caption{
    margin-top: 5px;
    margin-bottom: 5px;
}
.about_us_block_2{
    margin-top: 80px;
    padding-bottom: 80px;
}

.about_us_second_block img{
    margin-left: auto;
    margin-right: auto;
}

.review{
    text-align: center;
    padding-bottom: 120px;
}
.about_us_review{
    background: url('..//img/review_bg.png') no-repeat center center;
}
.owner_text2{
    margin-top: 40px;
}
/*-- End About Us--------------------------------------------------*/

/*-- Service --------------------------------------------------*/
.service_block{
    background: url('../img/service_bg.png') no-repeat top right -300px;
    padding-bottom: 120px;
}
.service_block p{
    max-width: 80%;
}
/*-- End Service --------------------------------------------------*/

/*-- Commercial --------------------------------------------------*/
.commercial_block{
    background: #FBFBFB;
}
.commercial_card{
    background: #fff;
    margin-bottom: 40px;
    padding-bottom: 17px;
}
.commercial_card a{
    font-size: 13px;
    color: #A7A7A7;
    font-weight: 400;
    margin-left: 17px;
}
.commercial_card h3{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17px;
}
.commercial_card img{
    width: 100%;
}
/*-- End Commercial --------------------------------------------------*/

/*-- Contacts --------------------------------------------------*/
.contacts_block_2{
    margin-left: auto;
    margin-right: auto;
}
.email img, .phone img, .location img, .documents img{
    margin-right: 15px;
}
.email, .phone, .location, .documents{
    margin-top: 15px;
}
/*-- End Contacts --------------------------------------------------*/

.test_block{
    background: url('..//img/map3.png') no-repeat top center;
    width: 1110;
    height: 653.47px;
}
.map_btn{
    background: none;
    border: none;
    color: #fff;
    font-weight: 200;
    font-size: 12px;
    outline: none;
}
button:active, button:focus {
    outline: none;
  }
.Moscow{
    top: 334px;
    left: 164px;
}
.Sankt_Petersburg{
    top: 272px;
    left: 191px;
}
.Krasnodar{
    top: 453px;
    left: 31px;
}
.Udmur{
    top: 332px;
    left: 194px;
}
.Tatarstan{
    top: 360px;
    left: 251px;
}
.Perm{
    top: 309px;
    left: 305px;
}
.Chelyabinsk{
    top: 367px;
    left: 319px;
}
.Omsk{
    top: 316px;
    left: 410px;
}
.Sverdlovsk{
    top: 225px;
    left: 373px;
}
.XMAO{
    top: 173px;
    left: 432px;
}
.map_buttons a{
    color: #fff;
    font-weight: 200;
    position: absolute;
    font-size: 12px;
}
.map_buttons{
    position: relative;
    max-width: 152px;
}
.mobile_map{
    display: none;
}




/*-- Adaptive--------------------------------------------------*/


/* 993px---1200px */
@media screen and (max-width: 1200px) {
    h1{
        text-align: center;
        max-width: none;
    }
    .first_block_caption{
        max-width: none;
        text-align: center;
    }
    .first_block_bg img{
        max-width: 100%;
    }
    .btn_orange{
        margin-left: auto;
        margin-right: auto;
    }
    .first_block_bg{
        text-align: center;
    }
    .test_block{
        max-width: 100%;
        background-size: contain;
    }
    .text-center{
        padding-top: 0;
    }
    .Moscow{
        top: 304px;
        left: 109px;
    }
    .Sankt_Petersburg{
        top: 224px;
        left: 131px;
    }
    .Krasnodar{
        top: 369px;
        left: 0px;
    }
    .Udmur{
        top: 262px;
        left: 124px;
    }
    .Tatarstan{
        top: 286px;
        left: 182px;
    }
    .Perm{
        top: 238px;
        left: 228px;
    }
    .Chelyabinsk{
        top: 282px;
        left: 238px;
    }
    .Omsk{
        top: 235px;
        left: 313px;
    }
    .Sverdlovsk{
        top: 158px;
        left: 283px;
    }
    .XMAO{
        top: 110px;
        left: 332px;
    }
    .modal{
        max-width: 960px;
    }



    .about_us_block_2{
        flex-wrap: wrap;
        text-align: center;
    }
    .about_us_owner{
        width: 100%;
    }


}
/* 769px---992px */
@media screen and (max-width: 991px) {
    .Moscow{
        top: 224px;
        left: 75px;
    }
    .Sankt_Petersburg{
        top: 160px;
        left: 92px;
    }
    .Krasnodar{
        top: 259px;
        left: 0px;
    }
    .Udmur{
        top: 179px;
        left: 55px;
    }
    .Tatarstan{
        top: 183px;
        left: 129px;
    }
    .Perm{
        top: 143px;
        left: 163px;
    }
    .Chelyabinsk{
        top: 170px;
        left: 168px;
    }
    .Omsk{
        top: 127px;
        left: 226px;
    }
    .Sverdlovsk{
        top: 56px;
        left: 217px;
    }
    .XMAO{
        top: 15px;
        left: 252px;
    }
    .footer_top{
        flex-wrap: wrap;
    }
    .logo_footer, .footer_menu, .contacts_block, .social{
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .email, .phone{
        justify-content: center;
    }
    .footer_bottom{
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_bottom p, .footer_bottom a{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



    .about_us_block{
        flex-wrap: wrap;
    }
    .about_us_text, .about_us_logo, .about_us_caption{
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



    .contacts_blocks{
        flex-wrap: wrap;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .email2, .phone2, .location2, .documents2{
        justify-content: flex-start;
    }
    .email2 p, .phone2 p, .location2 p, .documents2 p{
        margin-left: 10px;
        text-align: left;
    }
    .email2 img, .phone2 img, .location2 img, .documents2 img{
        height: 24px;
    }
}
/* 577px---768px */
@media screen and (max-width: 768px) {
    .mobile_map{
        display: block;
        max-width: 100%;
    }
    .test_block{
        display: none;
    }
    .text-center{
        padding-top: 80px;
    }
    .form_feedback input, textarea, .btn_orange_3{
        max-width: 100%;
        width: 100%;
    }
}
/* 320px---576px */
@media screen and (max-width: 576px) {
    .second_block_calculator h3, .service img{
        margin-left: 10px;
    }
    .owner, .review_img{
        max-width: 100%;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}