body {
    margin: 0;
    font-family: Proxima Nova;
}
html {
    scroll-behavior: smooth;
  }
a {
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: white;
}
.a:hover {
    cursor: pointer;
}
.container{
    margin: 0 auto;
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 48px;
    color: #1C1F2D;
}
h2 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 48px;
    color: #1C1F2D;
}
h3 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #1C1F2D;
}
h4 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    color: #1C1F2D;
}
p{
    margin: 0;
    text-decoration: none;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #383B49;
}
.bold {
    font-weight: 900;
}
#header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    background: #13151D;
    color: white;
}
.bg{
    background: #FAFBFF;
}
.bg .menu_block a, .bg .phone{
    color: white;
}
.hide{
    display: none;
}
.default{
    background: #13151D;
    color: white;
    transition: 0.5s;
}
.default .menu_block a, .default .phone{
    color: white;
}
.default .hide{
    display: block;
}
.default .hide_2{
    display: none;
}
.default .menu{
    border: none;
}

/* HEADER*/
header{
    background: #FAFBFF;
}
.logo {
    padding-top: 28px;
}
.menu{
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid #EBEDF7; */
    padding-bottom: 10px;
}
.menu_block{
    padding-top: 26px;
    margin-left: 30px;
}
.menu_block a{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin-right: 20px;
    color: #1C1F2D;
}
.menu_block a:hover{
    border-bottom: 1px solid #E8E9EE;
    color: #5B77EC;
    transition: ease-in 0.2s;
}
.phone {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding-top: 30px;
}
.social{
    padding-top: 24px;
}
.social a{
    margin-right: 15px;
}
.offer {
    display: flex;
    justify-content: space-between;
    padding-top: 156px;
    padding-bottom: 0px;
}
.text_offer{
    margin-top: 22px;
}
.text_offer h1{
    width: 426px;
}
.text_offer p {
    width: 476px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn {
    width: 256px;
    height: 56px;
    background-color: #5B77EC;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.btn:hover{
    box-shadow: 1px 1px 10px rgba(91, 119, 236, 0.4);
    transition: 0.3s;
    cursor: pointer;
}
/* END HEADER*/

/*HOW IT WORK SECTION*/
.work_text{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    width: 671px;
    margin: 0 auto;
}
.line {
    width: 300px;
    border: 1px solid #E7E9F1;
    margin-left: auto;
    margin-right: auto;
}
.line1 {
    margin-top: 70px;
    margin-bottom: 32px;
}
.line2{
    margin-top: 32px;
    margin-bottom: 50px;
}
.work_block{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}
.work_block_top{
    display: flex;
    width: 420px;
    height: 177px;
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
    justify-content: center;
    margin-top: 30px;
}
.word_block_text p {
    width: 296px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-left: 22px;
    margin-top: 11px;
}
.word_block_text h4{
    margin-left: 22px;
    margin-top: 32px;
}
.work_block_top img{
    width: 42px;
    height: 42px;
    margin-top: 30px;
}
.work_block_center{
    margin-top: 17px;
}
.video{
    margin-top: 30px;
    border-radius: 2px;
}
/*HOW IT WORK SECTION*/

/*PROGRAMS SECTION*/
.programs{
    border-top: 1px solid #E7E9F1;
    margin-top: 60px;
}
.programs h2 {
    margin-top: 40px;
}
.program_block{
    display: flex;
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 30px;
}
.program_text h3 {
    margin-left: 40px;
    margin-top: 32px;
}
.program_text p {
    width: 730px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    margin-top: 17px;
    margin-left: 40px;
}
.btn2{
    margin-left: 40px;
    margin-top: 87px;
    width: 148px;
    height: 56px;
    color: white;
}
.btn2:hover{
    cursor: pointer;
}
/*END PROGRAMS SECTION*/

/*PRICE SECTION*/
.price{
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid #E7E9F1;
}
.price h2 {
    margin-top: 40px;
}
.training{
    display: flex;
    justify-content: space-between;
}
.training_block{
    width: 270px;
    height: 284px;
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    border-radius: 6px;
}
.training h3 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #1C1F2D;
    width: 165px;
    margin: 32px 32px 0 32px;
}
.training p{
    width: 144px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #A9ABAF;
    margin: 12px 32px 0px 32px;
}
.training h4 {
    width: 110px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #1C1F2D;
    margin: 58px 32px 0px 32px;
}
.btn3{
    width: 148px;
    height: 56px;
    margin: 26px 32px 0px 32px;
}
.btn3:hover{
    cursor: pointer;
}
.nav-tabs li a{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #A8ADC0;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px transparent;
    padding-bottom: 15px;
}
/*.nav-tabs li a:hover {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #black;
    border-bottom: none
    transition: 0.4s;
}*/
.nav-tabs li .active{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: black;
    border-bottom: none
    transition: 0.4s;
}
.nav-tabs li:nth-child(1){
    width: 150px;
}
.nav-tabs li:nth-child(2){
    width: 181px;
}
.nav-tabs li:nth-child(3){
    width: 78px;
}
.nav-tabs li:nth-child(4){
    width: 38px;
}
.nav-tabs li:nth-child(5){
    width: 63px;
}
.nav-tabs li:nth-child(6){
    width: 48px;
}
.nav-tabs li{
    margin-right: 70px;
}
.nav-tabs{
    margin-top: 30px;
}
.tab-content{
    margin-top: 30px;
}
.work_text2{
    margin-top: 40px;
    color: gray;
}
/*END PRICE SECTION*/

/*TEAM SECTION*/
.team{
    border-top: 1px solid #E7E9F1;
    margin-top: 60px;
    padding-bottom: 40px;
    background: #FAFBFF;
}
.team h2 {
    margin-top: 40px;
}
.team_1{
    margin-left: 1px;
    width: 260px !important;
    height: 323px;
    background: #FFFFFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.team_1 img {
    width: 200px;
    height: 200px;
    margin: 24px auto;
}
.team_1 h4 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.team_1 p{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #A9ABAF;
    margin-top: 10px;
}
.team_slider {
    margin-top: 30px;
}
/*END TEAM SECTION*/

/*SCHEDULE SECTION*/
.schedule{
    margin-top: 40px;
    padding-bottom: 40px;
}
.schedule h2 {
    margin-top: 0px;
}
.nav-tabs_2 li{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #A8ADC0;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px transparent;
    padding-bottom: 15px;
}
.nav-tabs_2 li a:hover {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #5B77EC;
    border-bottom: solid 2px #5B77EC;
    transition: 0.4s;
}
.nav-tabs_2 li .active{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #5B77EC;
    border-bottom: solid 2px #5B77EC;
    transition: 0.4s;
}
.nav-tabs_2 li:nth-child(1){
    width: 102px;
    margin-right: 65px;
}
.nav-tabs_2 li:nth-child(2){
    width: 64px;
    margin-right: 100px;
}
.nav-tabs_2 li:nth-child(3){
    width: 48px;
    margin-right: 115px;
}
.nav-tabs_2 li:nth-child(4){
    width: 62px;
    margin-right: 105px;
}
.nav-tabs_2 li:nth-child(5){
    width: 64px;
    margin-right: 100px;
}
.nav-tabs_2 li:nth-child(6){
    width: 63px;
    margin-right: 100px;
}
.nav-tabs_2 li:nth-child(7){
    width: 99px;
    margin-right: 0px;
}
.nav-tabs_2 li{
    margin-right: 70px;
}
.nav-tabs_2{
    margin-top: 30px;
}
.nav-tabs_2{
    border-bottom: 1px solid #dee2e6;
}
.tab-content2{
    margin-top: 20px;
}
.schedule_block{
    display: flex;
    justify-content: space-between;
}

.block_1_top{
    width: 155px;
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.block_1_top h4{
    width: 131px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #1C1F2D;
    margin-left: 10px;
    margin-top: 25px;
}
.block_1_top p {
    width: 111px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #535661;
    margin-left: 10px;
    margin-top: 20px;
}
.block_1_top h3{
    width: 91px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    color: #1C1F2D;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.block_1_bottom{
    width: 155px;
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.block_1_bottom h4{
    width: 131px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #1C1F2D;
    margin-left: 10px;
    margin-top: 25px;
}
.block_1_bottom p {
    width: 111px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #535661;
    margin-left: 10px;
    margin-top: 20px;
}
.block_1_bottom h3{
    width: 91px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #1C1F2D;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.block_1_bottom{
    margin-top: 10px;
}
.block_full {
    height: 318px;
}
.block_full h4{
    font-weight: bold;
    color: #5B77EC;
}
.btn4{
    width: 122px;
    height: 39px;
    margin-left: 10px;
    margin-top: 13px;
}
.more p {
    margin-top: 10px;
}
.read-more-state {
    display: none;
  }
  .read-more-target {
    opacity: 0;
    font-size: 0;
    transition: .25s;
  }
  .read-more-target a{
      transition: 0s;
      margin-left: 5px;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-top: 10px;
  }
  .read-more-target{
      display: none;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
    display: block;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: url(../img/arrow_more.png);
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: url(../img/arrow_more2.png);
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    line-height: 2;
    border-radius: .25em;
    margin-left: 110px;
  }
  .read-more-trigger2{
    margin-top: 18px;
}
  label {
      margin-bottom: 0;
  }
/*END SCHEDULE SECTION*/

/*REVIEWS SECTION*/
.reviews{
    background: #FAFBFF;
    height: 524px;
}
.reviews h2{
    padding-top: 40px;
}
.review_1{
    width: 380px;
    height: 297px;
    background: #FFFFFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 30px;
}
.review_top{
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
}

.review_header h3{
    width: 102px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-left: 22px;
    margin-top: 17px;
}
.stars {
    display: flex;
    margin-top: 12px;
}
.stars img{
    margin-left: 10px;
}
.stars img:nth-child(1){
    margin-left: 22px;
}
.review_1 p {
    width: 320px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #383B49;
    margin-left: 32px;
    margin-top: 20px;
}
.review_1{
    width: 360px !important;
}

/*END REVIEWS SECTION*/

/*FORM SECTION*/
.form_section h2{
    margin-top: 40px;
}
.form_block{
    background: #FAFBFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
}
.form2 input{
    width: 250px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #EEF0F8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 23px;
}
.form2 input:nth-child(4) {
    width: 250px;
    height: 56px;
    background-color: #5B77EC;
    border-radius: 4px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 5px;
}
.form2 input:nth-child(4):hover{
    box-shadow: 1px 1px 10px rgba(91, 119, 236, 0.4);
    transition: 0.3s;
    cursor: pointer;
}
.form2 input:nth-child(1){
    margin-left: 30px;
}
/*END FORM SECTION*/

/*FOOTER SECTION*/
footer{
    background: #13151D;
}
.phone2{
    margin-left: 640px;
    color: #fff;
}
.text{
    color: white;
    padding-top: 30px;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 300;
}
.text:hover {
    color: #5B77EC;
}

.widget{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100px;
}
.widget img{
    border-radius: 100px;
    transition: 0.3s;
}
.widget img:hover{
    box-shadow: 1px 1px 10px rgba(0, 255, 0, 0.5);
}
.widget img{
    width: 45px;
    height: 45px;
}
.text_bold{
    font-size: 15px;
    font-weight: 600;
}


h2{
    font-size: 32px;
}

/*END FOOTER SECTION*/

/*ANSWER SECTION*/
.answer1{
    display: flex;
    width: 520px;
    margin-top: 30px;
}
.answer1 img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
.answer1 p {
    margin-top: 10px;
    font-size: 17px;
}
.answer1 h4 {
    font-size: 22px;
}
.answer2{
    margin-top: 45px;
    margin-bottom: 60px;
}
.answer_blocks{
    display: flex;
}
.left_answer{
    margin-right: 80px;
}

/*END ANSWER  SECTION*/

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  .hamburger-menu{
      width: 200px;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 30px 0;
    list-style: none;
    text-align: center;
    background-color: #13151D;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__box li{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: red;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .hamburger-menu{
      display: none;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}






.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 700px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.close {
	color: black;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover { 
    color: red; 

}
.modalDialog > div{
    width: 400px;
}
.modalDialog2 > div{
    width: 340px;
    height: 200px;
}

.modalDialog{
    text-align: center;
}
.modalDialog h3{
    padding-top: 30px;
}
.modalDialog form{
    padding-top: 50px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}
.modalDialog input{
    margin: 0 auto;
    width: 280px;
    padding-left: 15px;
    margin-bottom: 15px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    height: 60px;
}
.modalDialog .btn {
    width: 280px;
    margin-top: 3px;
    margin-bottom: 30px;
    color: white;
}
.modalDialog2 h3{
    padding-top: 50px;
}



.adaptive_block{
    display: none;
}
/*-- Adaptive--------------------------------------------------*/


/* 992px---1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    #header{
        height: auto;
    }
    .offer_bg{
        display: none;
    }
    .video{
        display: none;
    }
    .adaptive_block{
        display: block;
    }
    .answer_blocks{
        flex-wrap: wrap;
    }
    .answer1{
        width: 720px;
    }
    .answer2{
        margin-top: 30px;
    }
    .answer3{
        margin-bottom: 0;
    }
    .menu{
        flex-wrap: wrap;
        width: 960px;
        margin: 0 auto;
    }
    .phone{
        width: 300px;
    }
    .offer{
        flex-wrap: wrap;
    }
    .text_offer{
        text-align: center;
        width: 476px;
        margin: 22px auto;
    }
    .btn{
        margin: 0 auto;
    }
    .text_offer h1{
        width: auto;
    }
    .offer img{
        max-width: 720px;
        margin: 0 auto;
    }
    .work_block{
        flex-wrap: wrap;
    }
    .work_block_top {
        width: 960px;
        justify-content: flex-start;
        padding-left: 40px;
    }
    .video{
        width: 960px;
    }
    .word_block_text {
        width: 526px;
    }
    .word_block_text p{
        width: 526px;
    }
    .program_text p {
        width: 550px;
    }
    .program_block img{
        height: 330px;
    }
    .btn2{
        margin-left: 40px;
        margin-top: 87px;
    }
    .nav-tabs li{
        margin-right: 50px;
    }
    .training{
        flex-wrap: wrap;
        justify-content: center;
    }
    .training_block{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }

    .nav-tabs_2{
        width: 200px;
        flex-direction: column;
        margin-top: 60px;
    }
    .nav-tabs_2 li:nth-child(1){
        margin-bottom: 190px;
    }.nav-tabs_2 li:nth-child(2){
        margin-bottom: 165px;
    }
    .nav-tabs_2 li:nth-child(3){
        margin-bottom: 190px;
    }
    .nav-tabs_2 li:nth-child(4){
        margin-bottom: 170px;
    }
    .nav-tabs_2 li:nth-child(5){
        margin-bottom: 180px;
    }
    .nav-tabs_2 li:nth-child(6){
        margin-bottom: 170px;
    }
    .nav_div{
        display: flex;
    }
    .schedule_block{
        display: block;
    }
    .block_1{
        display: flex;
        margin-top: 30px;
    }
    .block_1_top{
        margin-top: 10px;
    }
    .block_1_bottom{
        margin-left: 20px;
    }
    .review_1{
        width: 460px !important;
        height: 320px;
    }
    .review_1 p{
        width: 390px;
        margin-bottom: 40px;
    }
    .form2 input{
        width: 920px;
    }
    .form2 input:nth-child(1){
        margin-left: 20px;
        margin-bottom: 0;
    }
    .form2 input:nth-child(2){
        margin-top: 20px;
        margin-bottom: 0;
    }
    .form2 input:nth-child(3){
        margin-top: 20px;
        margin-bottom: 0;
    }
    .phone2{
        margin-left: 0;
    }
    .btn3{
        margin: 26px 32px 0px 32px;
    }
    .btn4{
        margin-left: 10px;
        margin-top: 13px;
    }
    .nav-tabs_2{
        border: none;
    }
    .team_1{
        width: 100% !important;
    }
    .review_1{
        width: 100% !important;
    }
    .review_1 p{
        width: 90% !important;
    }
    .form2 input{
        width: 95%;
    }
}
/* 768px---992px */
@media screen and (max-width: 992px) {
	.container {
        width: 720px;
    }
    .menu{
        width: 720px;
    }
    .answer1{
        width: 570px;
    }
    .work_block_top{
        width: 720px;
    }
    .program_text p{
        width: 320px;
    }
    .btn2{
        margin-top: 25px;
    }
    .nav-tabs li{
        margin-right: 27px;
    }
    .menu_block a{
        margin-right: 10px;
    }
    h2{
        text-align: center;
        font-size: 22px;
    }

}
/* 576px---768px */
@media screen and (max-width: 768px) {
	.container {
        width: 540px;
    }
    .menu{
        width: 540px;
    }
    .answer1{
        width: 430px;
    }
    .menu_block{
        display: none;
    }
    .phone, .social{
        width: 100%;
    }
    .offer img{
        max-width: 550px;
    }
    .work_text{
        width: auto;
    }
    .word_block_text p{
        width: 370px;
    }
    .work_block_top{
        width: 540px;
    }
    .video{
        height: 300px;
    }
    .program_block {
        display: block;
        text-align: center;
    }
    .program_block img{
        height: 350px;
        margin-top: 20px;
    }
    .program_text h3{
        margin-left: 0;
    }
    .program_text p{
        width: 470px;
        margin: 40px auto;
    }
    .btn2{
        margin: 40px auto;
    }
    .nav-tabs li:nth-child(4), .nav-tabs li:nth-child(5), .nav-tabs li:nth-child(6){
        margin-top: 40px;
    }
    .training_block {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 40px;
    }
    .training_block{
        width: 210px;
    }
    .form2 input{
        width: 93%;
    }
    .modalDialog > div{
        width: 500px;
    }
    .modalDialog input{
        width: 370px;
    }
    .modalDialog form{
        width: 370px;
    }
    .modalDialog .btn{
        width: 370px;
    }
    .hamburger-menu{
        display: block;
    }
    .phone_hide{
        display: none;
    }
    .social_hide{
        display: none;
    }
    .menu__box{
        padding-top: 0;
    }
    .menu__box li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu__box .phone{
        padding-top: 10px;
        margin-left: -10px;
        padding-bottom: 20px;
    }
    .menu__box .social{
        padding-top: 10px;
        margin-left: 10px;
    }
  
}

/* 320px---576px */
@media screen and (max-width: 576px) {
	.container {
        width: 80%;
    }
    .menu{
        width: 90%;
    }
    .answer1{
        width: 280px;
    }
    .text_offer h1{
        width: 250px;
        font-size: 36px;
        margin: 0 auto;
        margin-top: 160px;
    }
    .text_offer p{
        width: 250px;
        font-size: 15px;
        margin: 40px auto;
    }
    .offer{
        margin-top: 0;
        padding-bottom: 0;
    }
    .offer img{
        margin-top: 40px;
        width: 80%;
        height: 80%;
    }
    .word_block_text p{
        width: 150px;
    }
    .work_block_top {
        padding-left: 10px;
        width: 250px;
        height: 270px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .work_block{
        margin-top: 40px;
    }
    .video{
        width: 100%;
        height: 200px;
    }
    .work_block{
        padding-bottom: 0;
    }
    .program_block img{
        height: 246px;
        margin-top: 0;
    }
    .program_text p{
        width: 220px;
    }
    .price h2{
        margin-top: 20px;
    }
    .nav-tabs li{
        padding-bottom: 30px;
    }
    .nav-tabs li:nth-child(4), .nav-tabs li:nth-child(5), .nav-tabs li:nth-child(6){
        margin-top: 0;
    }
    .nav-tabs li:nth-child(4), .nav-tabs li:nth-child(6){
        margin-left: 10px;
    }
    .nav-tabs li:nth-child(6){
        margin-left: 25px;
    }
    .tab-content{
        margin-top: 0;
    }
    .block_1{
        display: block;
    }
    .block_1_bottom{
        margin-left: 0;
    }
    .nav-tabs_2{
        height: auto;
    }
    .nav-tabs_2 li:nth-child(1),.nav-tabs_2 li:nth-child(2),.nav-tabs_2 li:nth-child(3),.nav-tabs_2 li:nth-child(4),.nav-tabs_2 li:nth-child(5),.nav-tabs_2 li:nth-child(6){
        margin-right: 20px;
    }
    .nav-tabs_2 li:nth-child(1){
        margin-top: -30px;
        margin-bottom: 350px;
    }
    .nav-tabs_2 li:nth-child(2) {
        margin-bottom: 140px;
    }
    .nav-tabs_2 li:nth-child(3) {
        margin-bottom: 320px;
    }
    .nav-tabs_2 li:nth-child(4) {
        margin-bottom: 160px;
    }
    .nav-tabs_2 li:nth-child(5) {
        margin-bottom: 310px;
    }
    .nav-tabs_2 li:nth-child(6) {
        margin-bottom: 160px;
    }
    .stars img{
        margin-left: 8px;
    }
    .review_1 {
        height: 360px;
    }
    .form2 input{
        width: 85%;
    }
    .read-more-trigger2{
        margin-top: 0;
    }
    .form2 input:nth-child(4){
        font-size: 14px;
        padding-left: 5px;
    }
    .modalDialog > div{
        width: 90%;
    }
    .modalDialog input{
        width: 90%;
    }
    .modalDialog form{
        width: 90%;
    }
    .modalDialog .btn{
        width: 90%;
    }
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-LightIt.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 100; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 300; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 600; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-BoldIt.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 900; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 1000; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova-BlackIt.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 1000; 
}