body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    overflow-x: hidden
}
p{
    margin: 0 ;
}
.btn, p, a, .navbar-light .navbar-nav .nav-link{
    font-weight: 400;
    color: #000;
    font-size: 14px;
}
a:hover, a{
    text-decoration: none;
}


/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    margin-top: -15px;
    margin-left: 67px;
    max-width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -6px;
  }
  .menu__btn > span::after {
    content: '';
    top: 6px;
  }

  /* контейнер меню */
.menu__box {
    display: none;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}



.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    overflow: hidden;
}
.icon::before, .icon::after {
    content: '';
    position: absolute;
    top:  0;
    left: -5px;
    height: 118px;
    width: 118px;
    transition: all 0.25s ease;
    border-radius: 100%;
}
.icon i {
    position: relative;
    font-size: 30px;
    transition: all 0.25s ease;
}
.icon-fill::before {
    transition-duration: 0.5s;
}
.icon-fill:hover::before {
    box-shadow: inset 0 0 0 60px #e5e5e5;
}
.icon-enter::after {
    box-shadow: inset 0 0 0 1px #eb9532;
}
.icon-enter::before {
    border-radius: 0;
    margin-left: -100%;
    box-shadow: inset 0 0 0 60px #eb9532;
}
.icon-enter:hover::before {
    margin-left: 0;
}
.icon-expand::after {
    box-shadow: inset 0 0 0 1px #c82647;
}
.icon-expand::before {
    background: #c82647;
    box-shadow: inset 0 0 0 60px #2d2c3e;
}
.icon-expand:hover::before {
    box-shadow: inset 0 0 0 1px #2d2c3e;
}
.icon-collapse::before {
    border-radius: 0;
}
.icon-collapse:hover::before {
    box-shadow: inset 0 30px 0 0 #8cc63f, inset 0 -30px 0 0 #8cc63f;
}
.icon-collapse::after {
    box-shadow: inset 0 0 0 1px #8cc63f;
}
.icon-rotate {
    box-shadow: inset 0 0 0 1px #7e3661;
}
.icon-rotate::after, .icon-rotate::before {
    border: 0px solid transparent;
}
.icon-rotate:hover::before {
    transition: border-top-width 0.3s ease, border-top-color 0.3s ease;
    border-width: 60px;
    border-top-color: #7e3661;
}
.icon-rotate:hover::after {
    transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
    border-width: 60px;
    border-left-color: #7e3661;
}
.icon-rotate:hover {
    transition: background 0.001s ease 0.3s;
    background: #7e3661;
}
.icon-rotate i {
    z-index: 1;
}





/* FIRST MENU */
.first_menu_item{
    margin-left: 69px;
    border-left: 1px solid #cacaca;
}
.logo{
    width: 102px;
}
.logo_for_mobile{
    display: none;
}
.logo_for_pc{
    display: block;
}
.second_menu_mobile{
    display: none !important;
}
.search_img, .menu_btn img{
    max-height: 30px;
}
.navbar-brand{
    margin-right: auto;
    margin-left: -50px;
}
.menu_btn{
    border: none;
    background: none;
}
.nav-item, .menu_btn{
    border-right: 1px solid #cacaca;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.search_icon{
    border-left: 1px solid #cacaca;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 15px;
}
.nav-link{
    transition-duration: .25s;
}

#wrap {
    display: inline-block;
    position: relative;
    height: 65px;
    float: right;
    padding: 0;
    position: relative;
  }
  
  input[type="text"] {
    height: 65px;
    display: inline-block;
    font-weight: 400;
    border: none;
    outline: none;
    color: #555;
    padding: 0px;
    margin-top: 0;
    padding-right: 190px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    margin-right: 0;
    padding-left: 15px;
  }
  
  input[type="text"]:focus:hover {
    border-bottom: 1px solid #f3f3f3;
  }
  
  input[type="text"]:focus {
    width: 510px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: #f3f3f3;
  }
  input[type="submit"] {
    width: 50px;
    height: 50px;
    margin-right: 75px;
    margin-top: 8px;
    display: inline-block;
    color:red;
    float: right;
    background: url('..//img/search.png') center center no-repeat;
    background-size: 100%;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    cursor: pointer;
    transition: opacity .4s ease;
  }
  
  input[type="submit"]:hover {
    opacity: 0.8;
  }



.nav-item{
    display: flex;
    align-items: center;
    transition-duration: .3s;
}
.nav-item:hover{
    background-color: #f3f3f3;
}
.menu_btn{
    padding-right: 20px;
}
.navbar-collapse, .navbar-nav, .menu_btn{
    height: 100%;
}
.navbar{
    padding: 0;
    margin: 0;
    height: 65px;
}
.sign_in img{
    max-width: 30px;
}
.sign_in{
    margin-right: 185px;
    border-right: 1px solid #cacaca;
    height: 67px;
    padding-right: 26px;
}
.search_icon{
    height: 68px;
}

/* END FIRST MENU */

/* SECOND MENU */
.menu_2{
    background-color: #252525;
    color: #939393;
    padding-left: 0;
    height: 65px;
    
}
.menu_2 a, .menu_lamp p{
    color: #939393;
    transition-duration: .3s;
}
.menu_2 a:hover{
    color: #fff;
}
.menu_lamp{
    background-color: #1B1B1B;
    width: 243px;
    height: 65px;
}
.menu_2 .menu_active{
    color: #fff;
}


/* END SECOND MENU */

/* FIRST BLOCK */
.first_block{
    padding-top: 27px;
    padding-bottom: 5px;
    background: #f3f3f3;
}
.first_block p{
    font-weight: 400;
    font-size: 11px;
    margin-left: 52px;
    color: #999999;
}
.block_line{
    color: #000;
    width: 100%;
    margin-left: 41px;
}
.first_block_cards{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.first_block_card p{
    max-width: 210px;
    text-align: center;
    font-size: 12px;
    color: #808080;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.first_block_card{
    text-align: center;
    max-width: 260px;
}

.first_block_icon img{
    max-width: 50px;
}
.icon-fill{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e5e5e5;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* END FIRST BLOCK */

/* SECOND BLOCK */
.second_block{
    background: #f3f3f3;
    padding-bottom: 50px;
}
.second_block p{
    font-weight: 400;
    font-size: 11px;
    margin-left: 52px;
    color: #999999;
}
.second_block img{
    width: 100%;
    margin-top: 26px;
}
.second_block .col{
    padding: 0;
}
/* END SECOND BLOCK */

/* GALLERY */
.gallery{
    margin-top: 50px;
}
.block_line_left{
    margin-right: 40px;
    margin-left: 0;
    width: 100%;
}
.block_line_right{
    margin-right: 0;
    margin-left: 40px;
    width: 100%;
}
.gallery_header{
    width: 600px;
    display: flex;
    justify-content: center;
}
.gallery_header p{
    font-size: 25px;
    font-weight: 400;
}
.gallery_photo{
    width: 200px;
    height: 200px;
}
.caption{
    text-align: center;
    margin-top: 5px;
    color: #adadad;
    font-size: 15px;
}
.container_block_gallery{
    background: #f3f3f3;
    width: 100%;
    margin-top: 30px;
}
.container_block_gallery img{
    vertical-align: top;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.cards{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.card{
    background: none;
    border: none;
    text-align: center;
}
.card h5{
    font-size: 15px;
    font-weight: 400;
    border-radius: none;
}
.btn_cards{
    font-size: 15px;
    font-weight: 400;
    color: #b1b1b1;
}
.card-img, .card-img-top{
    border-radius: 0%;
}
/* END GALLERY */

/* SUBSCRIBE */

/* END SUBSCRIBE */
.subscribe{
    margin-top: 50px;
    text-align: center;
}
.subscribe p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}

.home-newsletter {
    padding: 30px 0;
    }
    
    .home-newsletter .single {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: #f3f3f3;
    border-radius: 0; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px; 
    border-radius: 0;
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    }
.input-group{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.custom-control-label{
    font-size: 12px;
    margin-top: 10px;
    padding-top: 2px;
    color: #686868;
}

/* FOOTER */
footer{
    background: #282828;
}
.logo_footer{
    max-height: 30px;
}
.footer_block{
    padding-top: 80px;
    padding-bottom: 80px;
}
.menu_footer a, .menu_footer p{
    color: #939393;
}
.menu_footer a:hover{
    color: #fff;
}
.btn_lang{
    color: #939393;
    padding-left: 0;
    border: none;
}
.btn_lang:hover{
    color: #fff;
    border: none;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.dropdown-menu, .dropdown-item{
    background: #000;
}
.dropdown-item:hover{
    background: #000;
}
.dropdown-item{
    padding-left: 5px;
}
.footer_line{
    color: #fff;
    border: 1px solid #444444;
    width: 100%;
    margin-bottom: 30px;
}
.footer_bottom p{
    color: #939393;
}
.social img{
    max-height: 20px;
    margin-left: 20px;
}
.social p{
    color: #fff;
}
.copyright{
   margin-left: 20px;
}
.footer_bottom{
    padding-bottom: 20px;
}
/* END FOOTER */

/*-- Adaptive--------------------------------------------------*/

/* 994px---1800px */
@media screen and (max-width: 4000px) {
    .menu_2_first_item{
        margin-left: 17px;
    }
    .menu_2_last_item{
        margin-right: 70px !important;
    }
    .menu_2 a{
        margin-right: 50px;
    }
    .search_icon{
        margin-right: 15px;
    }
}
/* 994px---1800px */
@media screen and (max-width: 1800px) {
    .menu_2_first_item{
        margin-left: auto;
    }
    .menu_2_last_item{
        margin-right: auto !important;
    }
    .menu_2 a{
        margin-right: auto;
    }
}
/* 993px---1200px */
@media screen and (max-width: 1199px) {
    .navbar{
        height: auto;
    }
    .navbar-toggler-icon{
        color: #000;
    }
    .navbar-light .navbar-toggler{
        border: none;
        box-shadow: none;
    }
    button:active, button:focus {
        outline: none;
      }
    .menu_2 a{
        display: none !important;
    }
    .second_menu_mobile{
        display: block !important;
    }
    .navbar {
        text-align: center;
    }
    .nav-item{
        margin-left: auto !important;
        margin-right: auto !important;
        border: none;
        
    }
    .logo_for_mobile{
        display: block;
        margin-bottom: 30px;
    }
    .logo_for_pc{
        display: none;
    }
    .form-inline{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .search_icon{
        border:none;
    }
    .form-inline .btn{
        margin-left: auto !important;
        margin-right: auto;
        padding: 0;
        padding-top: 20px;
    }
    .first_block_cards{
        justify-content: center;
    }
    .first_block_card{
        margin-top: 30px;
    }
    .gallery_header {
        width: 650px;
    }
    .mobile_none{
        display: none;
    }
    .footer_line {
        width: 99%;
    }
    .hamburger-menu{
        display: none;
    }
  }
  /* 768px---992px */
  @media screen and (max-width: 991px) {
      .gallery_header {
        width: 750px;
      }
  }
  /* 577px---768px */
  @media screen and (max-width: 768px) {
    .gallery_header {
        width: 950px;
      }
    .card {
        margin-top: 40px;
    }
    .container_block_gallery img{
        max-width: 80%;
        height: auto;
    }
  
  }
  /* 320px---576px */
  @media screen and (max-width: 576px) {
    .second_block img{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_block{
        text-align: center;
    }
    .menu_footer{
        margin-top: 50px;
    }
    .social{
        margin-top: 20px;
    }
    .copyright{
        margin-left: 0;
        text-align: center;
    }
    .footer_line {
        width: 99%;
    }
    .gallery_header {
        text-align: center;
    }
  }