body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
p{
    margin-bottom: 0;
}
.btn, p, a{
    font-weight: 300;
    color: #000;
}
a:hover{
    text-decoration: none;
}
.logo{
    max-height: 25px;
}
.search_img{
    max-height: 50px;
}
.navbar-brand{
    margin-right: auto;
}
.menu_btn{
    border: none;
    background: none;
}
.nav-item, .menu_btn{
    border-right: 1px solid #cacaca;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.search_icon{
    border-left: 1px solid #cacaca;
    padding-left: 70px;
    margin-left: 15px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.menu_btn{
    padding-right: 20px;
}
.navbar-collapse, .navbar-nav, .menu_btn{
    height: 100%;
}
.navbar{
    padding: 0;
    margin: 0;
    height: 80px;
}



.menu_2{
    background-color: #252525;
    color: #939393;
    padding-left: 0;
    height: 85px;
}
.menu_2 a{
    color: #939393;
}
.menu_2 a:hover{
    color: #fff;
}
.menu_lamp{
    background-color: #000000;
    width: 195px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu_2 .menu_active{
    color: #fff;
}